<div class="container">
<p id="notice"><%= notice %></p>

<% user_id = @user.find(@topic.user_id) %>
<% name = user_id.name %>
      
<table class="table table-bordered">
  <tr>  
    <th id="index-name">投稿者 : <%= name %></th>
  </tr>
  <tr>  
    <td id="index-td">タイトル：<%= @topic.title %></td>
  </tr>
  <tr>  
    <td id="index-td" class="border"><%= @topic.topic %></td>
  </tr>
  <tr>
    <% if @topic.user_id == current_user.id %> 
      <td id="index-td" class="border"><%= link_to 'Edit', edit_topic_path(@topic.id) %> | <%= link_to 'delete', topic_path(@topic.id), method: :delete %></td>
    <% else %>
      <td class="index-td" id="index-action"><%= link_to 'コメントする', new_comment_path %> | <%= link_to 'いいね！', favorites_path(topic_id: @topic.id), method: :post %> | <%= link_to 'いいねを解除する', favorite_path(@topic.id), method: :delete  %></td>
    <% end %>
  </tr>  
</table>

</div>